<h1>Creador de empleados!</h1>

<form action="/api/empleados" method="post">
    Rut: <input type="text" name="rut"><br>
    Nombre: <input type="text" name="nombre"><br>
    Sexo: <input type="text" name="sexo"><br>
    Cargo: <input type="text" name="cargo"><br>
    Area: <input type="text" name="area"><br>
    Departamento: <input type="text" name="departamento"><br>
    Direccion: <input type="text" name="direccion"><br>
    Telefono: <input type="text" name="telefono"><br>
    Fecha de Ingreso: <input type="date" name="fecha_ingreso"><br>
    <input type="submit" value="Register">
</form>